# Ignore all files

*

# Only format allowed files

!/*.mjs

!/src/**/
!/src/css/app.css
!/src/js/cli_engine.js
!/src/js/clipboard.js
!/src/js/features.svelte.js
!/src/js/filesystem.js
!/src/js/main.svelte.js
!/src/js/port_usage.js
!/src/js/presets/**/*.js
!/src/js/tabs/gyro.js
!/src/js/tabs/presets.js
!/src/tabs/gyro/filter_config.js
!/src/tabs/receiver/**/*.js

!*.scss
!*.svelte
