# Ignore all files

*

# Only format allowed files

!/*.mjs

!/src/**/
!/src/js/features.svelte.js
!/src/js/filesystem.js
!/src/js/main.svelte.js
!/src/js/port_usage.js
!/src/components/gyro/filter_config.js

!*.scss
!*.svelte
