[Desktop Entry]
Name={{name}}
Comment=Crossplatform configuration tool for the Rotorflight flight control system
Exec={{installdir}}/rotorflight-configurator
Icon={{installdir}}/icon/rf_icon.png
Terminal=false
Type=Application
Categories=Utility
