*,
*::before,
*::after {
  box-sizing: border-box;
}

select,
input {
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;

  &:focus {
    outline: none;
  }

  :global(html[data-theme="light"]) & {
    color: var(--color-neutral-900);
    background: var(--color-neutral-50);
    border-color: var(--color-neutral-300);

    &:focus {
      border-color: var(--color-accent-500);
    }

    &:disabled {
      color: var(--color-neutral-500);
      background: var(--color-neutral-200);
    }
  }

  :global(html[data-theme="dark"]) & {
    color: var(--color-neutral-100);
    background: var(--color-neutral-800);
    border-color: var(--color-neutral-700);

    &:focus {
      border-color: var(--color-accent-400);
    }

    &:disabled {
      color: var(--color-neutral-500);
      background: var(--color-neutral-700);
    }
  }
}

input {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  padding: 0 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  outline: none;

  :global(html[data-theme="light"]) & {
    color: var(--color-neutral-900);
    background-color: var(--color-neutral-50);
    border-color: var(--color-neutral-300);
  }

  :global(html[data-theme="dark"]) & {
    color: var(--color-neutral-100);
    background-color: var(--color-neutral-800);
    border-color: var(--color-neutral-700);
  }

  &[type="number"] {
    text-align: right;
    padding-right: 0;
    width: 80px;
  }

  &:focus {
    :global(html[data-theme="light"]) & {
      border-color: var(--color-accent-500);
    }

    :global(html[data-theme="dark"]) & {
      border-color: var(--color-accent-400);
    }
  }
}

select {
  height: 1.5rem;
  min-width: 120px;
  padding: 0 4px;
}

@media only screen and (max-width: 480px) {
  select,
  input {
    height: 2rem;
    line-height: 2rem;
  }

  input {
    font-size: 1rem !important;
  }
}

%section-header {
  display: flex;
  height: 32px;
  font-size: 1rem;
  font-weight: 400;
  align-items: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  :global(html[data-theme="light"]) & {
    color: var(--color-neutral-100);
    background-color: var(--color-neutral-600);
  }

  :global(html[data-theme="dark"]) & {
    color: var(--color-neutral-100);
    background-color: var(--color-neutral-800);
  }

  @media only screen and (max-width: 480px) {
    margin-top: 16px;
    border-bottom-width: 1px;
    border-style: solid;

    :global(html[data-theme="light"]) & {
      color: var(--color-neutral-900);
      background: none;
      border-bottom-color: var(--color-neutral-400);
    }

    :global(html[data-theme="dark"]) & {
      background: none;
      border-bottom-color: var(--color-neutral-700);
    }
  }
}

%button {
  border-radius: 2px;
  padding: 8px;
  transition: var(--animation-speed);

  :global(html[data-theme="light"]) & {
    border: none;
    color: var(--color-neutral-800);
    background-color: var(--color-neutral-300);

    &:hover {
      background-color: var(--color-neutral-200);
    }

    &:active {
      background-color: var(--color-neutral-400);
    }

    &:disabled {
      color: var(--color-neutral-500);
      background-color: var(--color-neutral-200);
      cursor: not-allowed;
    }
  }

  :global(html[data-theme="dark"]) & {
    border: none;
    color: var(--color-neutral-900);
    background-color: var(--color-neutral-200);

    &:hover {
      background-color: var(--color-neutral-300);
    }

    &:active {
      background-color: var(--color-neutral-400);
    }

    &:disabled {
      color: var(--color-neutral-700);
      background-color: var(--color-neutral-500);
      cursor: not-allowed;
    }
  }
}
