:root {
  --animation-speed: 0.2s ease;
  --section-gap: 16px;
  --section-padding: 8px;

  --color-shadow: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

html[data-theme="light"] {
  --val-neutral-hue: 220;
  --val-neutral-sat: 5%;
  --val-accent-hue: 202;

  --color-yellow-100: hsl(50, 100%, 92%);
  --color-yellow-500: hsl(45, 90%, 50%);
  --color-yellow-900: hsl(45, 100%, 30%);

  --color-red-100: hsl(4, 100%, 92%);
  --color-red-200: hsl(4, 100%, 80%);
  --color-red-900: hsl(4, 100%, 30%);

  --color-accent-100: hsl(var(--val-accent-hue), 100%, 10%);
  --color-accent-200: hsl(var(--val-accent-hue), 100%, 20%);
  --color-accent-300: hsl(var(--val-accent-hue), 100%, 30%);
  --color-accent-400: hsl(var(--val-accent-hue), 100%, 40%);
  --color-accent-500: hsl(var(--val-accent-hue), 100%, 50%);
  --color-accent-600: hsl(var(--val-accent-hue), 100%, 60%);
  --color-accent-700: hsl(var(--val-accent-hue), 100%, 70%);
  --color-accent-800: hsl(var(--val-accent-hue), 100%, 80%);
  --color-accent-900: hsl(var(--val-accent-hue), 100%, 90%);

  --color-neutral-50: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 98%);
  --color-neutral-100: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 97%);
  --color-neutral-200: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 92%);
  --color-neutral-300: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 85%);
  --color-neutral-400: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 70%);
  --color-neutral-500: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 50%);
  --color-neutral-600: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 30%);
  --color-neutral-700: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 15%);
  --color-neutral-800: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 8%);
  --color-neutral-900: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 3%);
  --color-neutral-950: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 2%);

  --color-bg: var(--color-neutral-200);
  --color-surface: var(--color-neutral-100);
  --color-surface-alt: var(--color-neutral-600);
  --color-surface-float: var(--color-neutral-50);
  --color-hover: var(--color-neutral-200);
  --color-border: var(--color-neutral-400);
  --color-border-soft: var(--color-neutral-300);
  --color-border-accent: var(--color-accent-500);

  --color-text: var(--color-neutral-900);
  --color-text-alt: var(--color-neutral-100);
  --color-text-soft: var(--color-neutral-700);
  --color-text-disabled: var(--color-neutral-500);

  --color-input-bg: var(--color-neutral-50);
  --color-input-bg-disabled: var(--color-neutral-200);
  --color-input-bg-hover: var(--color-neutral-200);
  --color-input-bg-active: var(--color-neutral-300);

  --color-btn-fg: var(--color-neutral-800);
  --color-btn-fg-disabled: var(--color-neutral-500);
  --color-btn-bg: var(--color-neutral-300);
  --color-btn-bg-hover: var(--color-neutral-400);
  --color-btn-bg-active: var(--color-neutral-500);
  --color-btn-bg-disabled: var(--color-neutral-200);

  --color-switch: var(--color-accent-500);
  --color-switch-secondary: var(--color-neutral-300);
  --color-switch-disabled: var(--color-neutral-300);
  --color-switch-handle: var(--color-neutral-50);
  --color-switch-handle-secondary: var(--color-neutral-50);
  --color-switch-handle-disabled: var(--color-neutral-400);

  --color-slider-foreground: var(--color-neutral-500);
  --color-slider-background: var(--color-neutral-200);
  --color-slider-border: var(--color-neutral-400);
  --color-slider-handle-background: var(--color-neutral-100);
  --color-slider-handle-border: var(--color-neutral-500);
  --color-slider-connect: var(--color-accent-500);
  --color-slider-text: var(--color-neutral-900);

  --color-meter-bg: var(--color-neutral-200);
  --color-meter-border: var(--color-neutral-400);

  --color-roll: hsl(2, 62%, 60%);
  --color-pitch: hsl(122, 62%, 60%);
  --color-yaw: hsl(242, 62%, 60%);

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar {
    /*background: var(--color-neutral-600);*/
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-neutral-400);
  }
}

html[data-theme="dark"] {
  --val-neutral-hue: 248;
  --val-neutral-sat: 5%;
  --val-accent-hue: 202;

  --color-yellow-100: hsl(45, 100%, 90%);
  --color-yellow-500: hsl(45, 60%, 55%);
  --color-yellow-900: hsl(45, 100%, 30%);

  --color-red-100: hsl(4, 100%, 30%);
  --color-red-500: hsl(4, 60%, 55%);
  --color-red-900: hsl(4, 100%, 30%);

  --color-accent-100: hsl(var(--val-accent-hue), 100%, 10%);
  --color-accent-200: hsl(var(--val-accent-hue), 100%, 20%);
  --color-accent-300: hsl(var(--val-accent-hue), 100%, 30%);
  --color-accent-400: hsl(var(--val-accent-hue), 100%, 40%);
  --color-accent-500: hsl(var(--val-accent-hue), 100%, 50%);
  --color-accent-600: hsl(var(--val-accent-hue), 100%, 60%);
  --color-accent-700: hsl(var(--val-accent-hue), 100%, 70%);
  --color-accent-800: hsl(var(--val-accent-hue), 100%, 80%);
  --color-accent-900: hsl(var(--val-accent-hue), 100%, 90%);

  --color-neutral-950: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 5%);
  --color-neutral-900: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 10%);
  --color-neutral-800: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 20%);
  --color-neutral-700: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 30%);
  --color-neutral-600: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 40%);
  --color-neutral-500: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 50%);
  --color-neutral-400: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 60%);
  --color-neutral-300: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 70%);
  --color-neutral-200: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 80%);
  --color-neutral-100: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 90%);
  --color-neutral-50: hsl(var(--val-neutral-hue), var(--val-neutral-sat), 95%);

  --color-bg: var(--color-neutral-950);
  --color-surface: var(--color-neutral-900);
  --color-surface-alt: var(--color-neutral-800);
  --color-surface-float: var(--color-neutral-800);
  --color-hover: var(--color-neutral-800);
  --color-border: var(--color-neutral-700);
  --color-border-soft: var(--color-neutral-700);
  --color-border-accent: var(--color-accent-400);

  --color-text: var(--color-neutral-50);
  --color-text-alt: var(--color-neutral-100);
  --color-text-soft: var(--color-neutral-100);
  --color-text-disabled: var(--color-neutral-300);

  --color-input-bg: var(--color-neutral-800);
  --color-input-bg-disabled: var(--color-neutral-700);
  --color-input-bg-hover: var(--color-neutral-700);
  --color-input-bg-active: var(--color-neutral-600);

  --color-btn-fg: var(--color-neutral-900);
  --color-btn-fg-disabled: var(--color-neutral-700);
  --color-btn-bg: var(--color-neutral-200);
  --color-btn-bg-hover: var(--color-neutral-400);
  --color-btn-bg-active: var(--color-neutral-500);
  --color-btn-bg-disabled: var(--color-neutral-400);

  --color-switch: var(--color-accent-400);
  --color-switch-secondary: var(--color-neutral-500);
  --color-switch-disabled: var(--color-neutral-700);
  --color-switch-handle: var(--color-neutral-100);
  --color-switch-handle-secondary: var(--color-neutral-100);
  --color-switch-handle-disabled: var(--color-neutral-500);

  --color-slider-foreground: var(--color-neutral-300);
  --color-slider-background: var(--color-neutral-700);
  --color-slider-border: var(--color-neutral-400);
  --color-slider-handle-background: var(--color-neutral-600);
  --color-slider-handle-border: var(--color-neutral-800);
  --color-slider-connect: hsl(var(--val-accent-hue), 40%, 40%);
  --color-slider-text: var(--color-neutral-100);

  --color-meter-bg: var(--color-neutral-700);
  --color-meter-border: var(--color-neutral-500);

  --color-roll: hsl(2, 48%, 45%);
  --color-pitch: hsl(122, 48%, 40%);
  --color-yaw: hsl(242, 48%, 55%);

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar {
    background: var(--color-neutral-950);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-neutral-700);
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --animation-speed: 0.2s ease;
    --section-gap: 8px;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
