%section-shadow {
  :global(html[data-theme="light"]) & {
    box-shadow: 0 4px 12px -4px var(--color-shadow);
  }

  @media only screen and (max-width: 480px) {
    :global(html[data-theme="light"]) & {
      box-shadow: 0 8px 12px -8px var(--color-shadow);
    }
  }
}

%section-header {
  display: flex;
  height: 32px;
  font-size: 1rem;
  font-weight: 400;
  align-items: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  color: var(--color-text-alt);
  background-color: var(--color-surface-alt);

  @media only screen and (max-width: 480px) {
    margin-top: 16px;

    color: var(--color-text);
    background: none;
    border-bottom: 1px solid var(--color-border);
  }
}

%button {
  border: none;
  border-radius: 2px;
  padding: 8px;
  transition: var(--animation-speed);

  color: var(--color-btn-fg);
  background-color: var(--color-btn-bg);

  &:disabled {
    cursor: not-allowed;
    color: var(--color-btn-fg-disabled);
    background-color: var(--color-btn-bg-disabled);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-btn-bg-hover);
    }
  }

  &:active {
    background-color: var(--color-btn-bg-active);
  }
}
