.tab-blackbox .info {
    margin: 0 0 10px 0;
    position: relative;
}

.tab-blackbox .info .progressLabel {
    position: absolute;
    width: 100%;
    height: 26px;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 24px;
    color: white;
    font-weight: bold;
    /* text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.9);*/
}

.tab-blackbox .properties {
    margin-top: 10px;
}

.tab-blackbox .dataflash-info {
    overflow: hidden;
}

.tab-blackbox .dataflash-info dt {
    float: left;
    width: 12em;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
}

.tab-blackbox .dataflash-info dd {
    display: block;
    height: 20px;
    line-height: 20px;
}

.tab-blackbox .speed {
    margin-top: 5px;
    width: 80px;
    border: 1px solid var(--subtleAccent);
}

.tab-blackbox .info {
    margin-top: 10px;
}

.tab-blackbox .info dt {
    float: left;
    width: 120px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
}

.tab-blackbox .info dd {
    display: block;
    margin-left: 130px;
    height: 20px;
    line-height: 20px;
}

.tab-blackbox .buttons {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 10px;
}

.tab-blackbox .dataflash-progress {
    display: none;
}

.tab-blackbox .dataflash-contents,
.tab-blackbox .sdcard-contents {
    margin-top: 15px;
    margin-bottom:26px;
    border: 1px solid var(--subtleAccent);
    background-color: #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-radius: 6px;
}

.tab-blackbox .dataflash-contents li,
.tab-blackbox .sdcard-contents li {
    height: 26px;
    position: relative;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
}

.tab-blackbox .dataflash-contents li div,
.tab-blackbox .sdcard-contents li div {
    position: absolute;
    top: 26px;
    margin-top: 4px;
    text-align: center;
    left: 0;
    right: 0;
    white-space: nowrap;
}

.tab-blackbox .dataflash-used,
.tab-blackbox .sdcard-other {
    background-color: var(--accent);
    border-radius: 4px;
}

.tab-blackbox .dataflash-free,
.tab-blackbox .sdcard-free {
    direction: rtl;
}

.tab-blackbox progress::-webkit-progress-bar {
    height: 24px;
    background-color: #eee;
}

.tab-blackbox progress::-webkit-progress-value {
    background-color: #bcf;
}

.tab-blackbox dialog {
    width: 40em;
    border-radius: 5px;
}

.tab-blackbox dialog .buttons {
    position: static;
    margin-top: 2em;
}

.tab-blackbox dialog h3 {
    margin-bottom: 0.5em;
}

@media all and (max-width: 575px) {
    .tab-blackbox dialog {
        width: calc(100% - 2em);
        border-radius: unset;
    }
}

.dataflash-confirm-erase .dataflash-erase-progress {
    height: 125px;
    display: none;
    border-radius: 5px;
}

.dataflash-buttons {
    display: inline-block;
}

.tab-blackbox .save-flash .helpicon {
    margin: 4px 0 0 7px;
    display: inline-block;
    float: unset;
}

.dataflash-confirm-erase.erasing .dataflash-erase-progress {
    display: block;
}

.dataflash-confirm-erase.erasing h3, .dataflash-confirm-erase.erasing .erase-flash-confirm, .dataflash-confirm-erase.erasing .dataflash-confirm-erase-note
    {
    display: none;
}

.tab-blackbox progress {
    display: block;
    width: 100%;
    margin: 1em 0;
}

.dataflash-saving .dataflash-saving-after {
    display: none;
}

.dataflash-saving.done .dataflash-saving-before {
    display: none;
}

.dataflash-saving.done .dataflash-saving-after {
    display: block;
}

.require-dataflash-present,
.require-dataflash-supported,
.require-sdcard-ready,
.require-sdcard-supported,
.require-blackbox-supported,
.require-blackbox-maybe-supported,
.require-blackbox-unsupported,
.require-blackbox-config-supported,
.tab-blackbox.dataflash-present .require-dataflash-not-present,
.tab-blackbox.dataflash-supported .require-dataflash-unsupported,
.tab-blackbox.sdcard-supported .require-sdcard-unsupported,
.tab-blackbox.blackbox-config-supported .require-blackbox-config-unsupported {
    display: none;
}

.tab-blackbox.dataflash-present .require-dataflash-present,
.tab-blackbox.dataflash-supported .require-dataflash-supported,
.tab-blackbox.sdcard-ready .require-sdcard-ready,
.tab-blackbox.sdcard-supported .require-sdcard-supported,
.tab-blackbox.blackbox-supported .require-blackbox-supported,
.tab-blackbox.blackbox-maybe-supported .require-blackbox-maybe-supported,
.tab-blackbox.blackbox-unsupported .require-blackbox-unsupported,
.tab-blackbox.blackbox-config-supported .require-blackbox-config-supported {
    display: block;
}

.require-no-dataflash {
    display: block;
}

.tab-blackbox.supported .require-no-dataflash {
    display: none;
}

.tab-blackbox .require-msc-supported {
    display: none;
}

.tab-blackbox.msc-supported .require-msc-supported {
    display: inherit;
}

.tab-blackbox .require-msc-not-supported {
    display: inherit;
}

.tab-blackbox.msc-supported .require-msc-not-supported {
    display: none;
}

.require-msc-not-ready {
    display: none;
}

.tab-blackbox.msc-not-ready .require-msc-not-ready {
    display: block;
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .tab-blackbox table thead tr:first-child {
        font-size: 12px;
        height: 22px;
    }
}

.tab-blackbox .line {
    clear: left;
}

.tab-blackbox .blackboxRate select,
.tab-blackbox .blackboxMode select,
.tab-blackbox .blackboxGracePeriod input,
.tab-blackbox .blackboxDebugMode .select2,
.tab-blackbox .blackboxDebugAxis select,
.tab-blackbox .blackboxInitialErase input,
.tab-blackbox .blackboxRollingErase > span:nth-of-type(1),
.tab-blackbox .blackboxDevice select {
    float: left;
    width: 180px;
    height: 20px;
    margin: 0 15px 8px 0;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    box-sizing: border-box;
}

.tab-blackbox .blackboxRollingErase > span:nth-of-type(1) {
    border: 0px;
}

.tab-blackbox .blackboxGracePeriod input,
.tab-blackbox .blackboxInitialErase input {
    text-align: right;
}

.tab-blackbox .blackboxRollingErase > span:nth-of-type(1) > span {
    float: right;
}

.tab-blackbox .blackboxDebugMode {
    border-top: 1px dotted var(--superSubtleAccent);
    margin-top: 10px;
    padding-top: 10px;
}

.tab-blackbox .blackboxInitialErase {
    border-top: 1px dotted var(--superSubtleAccent);
    margin-top: 10px;
    padding-top: 10px;
}

.tab-blackbox .blackboxRate span,
.tab-blackbox .blackboxMode span,
.tab-blackbox .blackboxDebugMode span,
.tab-blackbox .blackboxDebugAxis span,
.tab-blackbox .blackboxGracePeriod span,
.tab-blackbox .blackboxInitialErase span,
.tab-blackbox .blackboxRollingErase span:nth-of-type(2),
.tab-blackbox .blackboxDevice span {
    line-height: 20px;
}

.tab-blackbox .blackboxFlags .gui_box {
    height: calc(100% - 12px);
}

.tab-blackbox .flag_box input {
    width: calc(100% - 8px);
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    height: 22px;
    margin: 4px;
    line-height: 22px;
    text-align: right;
    box-sizing: border-box;
}

.tab-blackbox .flag_box {
    float: left;
    min-width: 160px;
    padding: 2px 8px 8px 0;
}

.tab-blackbox .flag_box span {
    margin-left: 10px;
}

.tab-blackbox .sdcard {
	padding:10px;
	float:left;
}
.tab-blackbox .sdcard-status {
    padding-top: 4px;
    text-align: center;
}
.tab-blackbox.sdcard-error .sdcard-icon {
    background-color: #e60000;
    border: 1px solid #fe0000;
}
.tab-blackbox.sdcard-initializing .sdcard-icon {
    background-color: #64a5f6;
    border: 1px solid #68a7ff;
}
.tab-blackbox.sdcard-ready .sdcard-icon {
    background-color: #56ac1d;
    border: 1px solid #5bbb1b;
}
.tab-blackbox .sdcard-icon {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
	width: 90px;
    height: 90px;
    background-image: url(/images/icons/cf_icon_sdcard.svg);
    background-position: 21px 20px;
    background-size: 50px 50px;
    background-repeat: no-repeat;

    background-color: #808080;
    border: 1px solid #888888;

    border-radius: 45px;
}

@media all and (max-width: 575px) {
    .tab-blackbox .blackboxRate select,
    .tab-blackbox .blackboxMode select,
    .tab-blackbox .blackboxGracePeriod input,
    .tab-blackbox .blackboxDebugMode .select2,
    .tab-blackbox .blackboxDebugAxis select,
    .tab-blackbox .blackboxInitialErase input,
    .tab-blackbox .blackboxRollingErase > span:nth-of-type(1),
    .tab-blackbox .blackboxDevice select {
        width: 120px;
    }
}
