#tab-configuration-templates {
    display: none;
}

.tab-configuration {
    position: relative;
}

.tab-configuration .featuresMultiple {
    border-collapse: collapse;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}

.tab-configuration table {
    height: 100%;
    width: 100%;
}

.tab-configuration table th,
.tab-configuration table td {
    padding: 5px;
    text-align: left;
}

.tab-configuration table tr {
    border-bottom: 1px dotted var(--superSubtleAccent);
}

.tab-configuration .select {
    border-bottom: 1px dotted var(--superSubtleAccent);
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100%;
    float: left;
}

.tab-configuration input,
.tab-configuration select {
    border: 1px solid var(--subtleAccent);
    height: 20px;
    padding-left: 5px;
    margin-right: 15px;
    border-radius: 3px;
    width: 100px;
    float: left;
}

.tab-configuration .checkbox_container {
    height: 20px;
    margin-right: 15px;
    margin-left: 3px;
    float: left;
}

.tab-configuration .features td:nth-child(1) {
    width: 50px;
}

.tab-configuration .features td:nth-child(2) {
    width: 80px;
}

.tab-configuration .features td:nth-child(3) {

    width: calc(100% - 130px);
}

.tab-configuration .serialPorts .portid {
    display: inline-block;
    min-width: 60px;
    font-size: 13px;
    font-weight: bold;
}

.tab-configuration .serialPorts .uartid {
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
}

.tab-configuration .serialPorts td:nth-child(1) {
    width: 120px;
}

.tab-configuration .serialPorts td:nth-child(2) {
    width: calc(100% - 200px);
}

.tab-configuration .serialPorts td:nth-child(3) {
    width: 80px;
}

.tab-configuration .serialPorts .identifier,
.tab-configuration .serialPorts .function,
.tab-configuration .serialPorts .baudrate {
    width: 100%;
}

.tab-configuration .alignicon {
    width: 15px;
    height: 15px;
    float: left;
    margin: 3px;
}

.tab-configuration .pitch {
    background-image: url(../../images/icons/cf_icon_pitch.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.tab-configuration .yaw {
    background-image: url(../../images/icons/cf_icon_yaw.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.tab-configuration .roll {
    background-image: url(../../images/icons/cf_icon_roll.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.tab-configuration .pidProcessDenom,
.tab-configuration .gyroFrequency {
    width: 100px;
}

.tab-configuration .gyroFrequency {
    border: none;
    background-color: var(--alternativeBackground);
    padding-left: 6px;
    margin-right: 10px;
    font-weight: bold;
}

.tab-configuration .model-and-info {
    position: relative;
    height: 350px;
    width: 100%;
    margin-bottom: -2px;
}

.tab-configuration #interactive_block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
}

.tab-configuration #interactive_block a.reset {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    bottom: 10px;
    height: 28px;
    line-height: 28px;
    padding: 0 15px 0 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--subtleAccent);
    background-color: #ececec;
    z-index: 100;
}

.tab-configuration #interactive_block a.reset:hover {
    background-color: #dedcdc;
}

.tab-configuration #canvas_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
}

.tab-configuration #canvas {
    width: 100% !important;
    height: 100% !important;
}