/* general layout */
.tab-landing {
    min-height: 100%;
    overflow: hidden;
}

.tab-landing .content_wrapper {
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #2e2e2e;
}

.tab-landing .content_top {
    height: 140px;
    padding: 20px;
    background: #fff url(../../images/pattern.png);
    background-size: 300px;
}

.tab-landing .content_mid {
    background-color: var(--accent);
    overflow: hidden;
    padding: 0 15px;
}

.tab-landing .content_foot {
    clear: both;
    padding: 20px 20px 5px;
}

/* hero block */
.tab-landing .logowrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 800px;
    color: var(--defaultText);
    font-size: 14px;
    font-weight: 300;
}

.tab-landing .logowrapper img {
    width: 600px;
    margin: 5px;
}

.tab-landing .logowrapper span {
    font-size: 22px;
    font-weight: 300;
}

.text1, .text2, .text3, .text4 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 12px;
}

/* text columns */
.tab-landing .content_mid .column .wrap {
    padding: 10px;
}

.tab-landing .content_mid .column .wrap2 {
    padding: 10px;
}

.tab-landing .content_mid h2 {
    margin-bottom: 5px;
    font-size: 14px;
}

.tab-landing .content_mid h3 {
    margin-bottom: 5px;
    font-size: 12px;
}

.tab-landing .content_mid .text1 ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab-landing .content_mid .text1 li {
    padding: 2px 0;
    list-style: initial;
    list-style-type: none;
    margin-left: 15px;
}

.tab-landing .content_mid .text2 ul {
    margin-top: 2px;
    margin-bottom: 2px;
}

.tab-landing .content_mid .text2 li {
    padding: 2px 0;
    list-style: initial;
    list-style-type: circle;
    margin-left: 30px;
}

.tab-landing .content_mid .wrap2 {
    border: 1px solid var(--subtleAccent);
    border-radius: 5px;
    background: white;
    font-size: 11px;
}

.tab-landing .content_mid .wrap2 p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tab-landing .content_mid .btn-grad {
    display: block;
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    color: white;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    font-size: 15px;
    font-weight: 600;
    font-family: Helvetica;
    cursor: pointer;
    background-size: 200% auto;
}

.tab-landing .content_mid .btn-grad {
    background-image: linear-gradient(
      to right,
      #000000 0%,
      hsl(202, 50%, 25%),
      100%,
      #000000 100%
    );
}

.tab-landing .content_mid .btn-grad:hover {
    background-position: right center;
    color: #fff;
}

.tab-landing .content_mid .qrcode {
    margin: 10px;
    text-align: center;
}

.tab-landing .content_mid .qrcode img {
    height: 160px;
    padding: 10px;
    background-color: white;
}

.tab-landing .content_mid .defaultCommunityTable {
    margin-top: 5px;
}

.tab-landing .content_mid .socialMediaText {
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 5px;
}

.tab-landing .content_mid .socialMediaLogo {
    padding: 5px 10px;
}

.tab-landing .content_mid .logoSocialMedia {
    height: 30px;
    width: 30px;
}

.tab-landing .languageSwitcher .selected_language {
    font-weight: bold;
}
.tab-landing .languageSwitcher {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: silver;
}
.tab-landing .languageSwitcher a {
    color: silver;
    font-weight: normal;
    white-space: nowrap;
}
.tab-landing .languageSwitcher a:not(:last-child):after {
    content: ", ";
    font-weight: normal;
}

/** (phones) **/
@media all and (max-width: 575px) {
    .tab-landing .logowrapper, .tab-landing .logowrapper img {
        width: auto;
    }
}
