
#tab-mixer-templates {
    display: none;
}

.tab-mixer .gui_box {
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    display: table;
}

.tab-mixer .gui_box span {
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #626262;
}

.tab-mixer .spacer_box {
    padding-left: 5px;
    padding-right: 3px;
}

.tab-mixer .no-bottom-margin {
    margin-bottom: 0;
}

.tab-mixer input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}

.tab-mixer input,
.tab-mixer select {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: right;
    box-sizing: border-box;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-mixer .mixerConfigTable {
    float: left;
    width: 100%;
    margin: 0;
    padding: 1px;
    table-layout: auto;
    border: 0;
    border-collapse: collapse;
}

.tab-mixer .mixerConfigTable th {
    height: 10px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 0;
    padding: 5px 0 2px 0;
}

.tab-mixer .mixerConfigTable td {
    padding: 5px 5px 2px 5px;
}

.tab-mixer .mixerConfigTable tr td {
    text-align: left;
}

.tab-mixer .mixerConfigTable tr td:first-child {
    width: 140px;
    padding-right: 10px;
}

.tab-mixer .mixerConfigTable tr:not(:last-child) td {
    padding-bottom: 5px;
}

.tab-mixer .mixerConfigTable tr.border td {
    border-top: 1px dotted var(--superSubtleAccent);
}

.tab-mixer .override {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

.tab-mixer .override .gui_box {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0;
    min-width: 740px;
}

.tab-mixer .mixerOverrideNote {
    padding: 10px 10px;
}

.tab-mixer .mixerOverrideSwitch {
    float: left;
    width: 100%;
    margin: 0;
    padding: 1px;
    border: 0;
    border-collapse: collapse;
    table-layout: auto;
}

.tab-mixer .mixerOverrideSwitch th {
    height: 10px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 0;
    padding: 5px 0 2px 0;
}

.tab-mixer .mixerOverrideSwitch td {
    padding: 12px 15px 12px 15px;
    text-align: left;
    border-bottom: 0;
}

.tab-mixer .mixerOverrideSwitch tr td:nth-child(1) {
    min-width: 50px;
}

.tab-mixer .mixerOverrideSwitch tr td:nth-child(2) {
    padding-right: 15px;
}

.tab-mixer .mixerOverrideSwitch tr .td:nth-child(3) {
    width: 75%;
}

.tab-mixer .mixerOverrideTable {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    margin-top: 2px;
}

.tab-mixer .mixerOverrideTable .trhead {
    color: var(--quietText);
    background-color: var(--button-background);
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    height: 22px;
    border-top: 1px solid var(--boxBackground);
}

.tab-mixer .mixerOverrideTable td {
    padding: 6px 5px 7px 5px;
    border: 1px solid var(--subtleAccent);
}

.tab-mixer .mixerOverrideTable td:nth-child(1) {
    width: 120px;
    text-align: left;
    border-left: 0;
}

.tab-mixer .mixerOverrideTable td:nth-child(1) span {
    font-size: 12px;
    font-weight: bold;
}

.tab-mixer .mixerOverrideTable td:nth-child(2) {
    width: 80px;
    text-align: center;
}

.tab-mixer .mixerOverrideTable td:nth-child(3) {
    width: 80px;
    text-align: center;
}

.tab-mixer .mixerOverrideTable td:nth-child(4) {
    width: 80px;
    text-align: left;
}

.tab-mixer .mixerOverrideTable td:nth-child(5) {
    height: 75px;
    padding: 2px 20px 2px 20px;
    text-align: left;
    vertical-align: top;
    border-right: 0;
}

.tab-mixer .mixerOverrideTable tr:last-child td {
    border-bottom: 0;
}

.tab-mixer .mixerOverrideTable tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.tab-mixer .mixerOverrideTable tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}

.tab-mixer .mixerOverrideSlider {
    margin-top: 20px;
}

.tab-mixer .mixerOverrideSlider .noUi-pips {
    padding: 5px 0 0 0;
}

.tab-mixer .mixerOverrideSlider .noUi-pips .noUi-marker-large {
    height: 10px;
}

.tab-mixer .mixerOverrideSlider .noUi-pips .noUi-value-large {
    padding-top: 4px;
}

.tab-mixer .mixerOverrideSliderLeftLabel {
    float: left;
    color: #999;
    padding: 2px 0;
}

.tab-mixer .mixerOverrideSliderRightLabel {
    float: right;
    color: #999;
    padding: 2px 2px;
}

.tab-mixer dialog {
    width: 40em;
    border-radius: 5px;
}

.tab-mixer dialog .buttons {
    position: static;
    margin-top: 2em;
}

.tab-mixer dialog h3 {
    margin-bottom: 0.5em;
}

.tab-mixer .mixerMotorisedTailCalibrationNote .note {
    margin: 4px 0 0;
}

@media all and (max-width: 575px) {
    .tab-mixer dialog {
        width: calc(100% - 2em);
        border-radius: unset;
    }
}
