
#tab-motors-templates {
    display: none;
}

.tab-motors {
    position: relative;
}

.tab-motors span {
    margin: 0;
}

.tab-motors .spacer_box {
    padding-bottom: 10px;
    float: left;
    width: calc(100% - 20px);
}

.tab-motors .field_box {
    width: 180px;
    height: 22px;
    float: left;
    margin-right: 15px;
}

.tab-motors .field {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted var(--subtleAccent);
    width: 100%;
    float: left;
    clear: left;
}

.tab-motors .spacer_box .field:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.tab-motors .field span {
    margin-left: 0;
}

.tab-motors .field span.gear_ratio {
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
}

.tab-motors .field input {
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    padding-left: 3px;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-motors .field select {
    width: 150px;
    height: 20px;
    float: left;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-motors .field .disabled {
    width: 48px;
    padding: 0 5px;
    background-color: #ececec;
}

.tab-motors .freelabel {
    margin-left: 10px;
    position: relative;
}

.tab-motors .gui_box_titlebar {
    margin-bottom: 0;
}

.tab-motors .gui_box {
    margin-bottom: 10px;
    float: left;
}

.tab-motors .gui_box span {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 12px;
}

.tab-motors .alignicon {
    width: 15px;
    height: 15px;
    float: left;
    margin: 3px;
}

.tab-motors .spacer {
    width: calc(100% - 34px);
    margin: 10px;
}

.tab-motors .motorInfo tr td:nth-child(1) {
    padding-right: 25px;
    padding-top: 10px;
}

.tab-motors .motorInfo tr td:nth-child(2) {
    width: 100%;
    height: 40px;
}

.tab-motors .motorInfo .fieldName {
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
}

.tab-motors .meter-range .meter-left {
    float: left;
    font-size: 8px;
    line-height: 10px;
}

.tab-motors .meter-range .meter-right {
    float: right;
    font-size: 8px;
    line-height: 10px;
}

.tab-motors .meter-bar {
    position: relative;
    height: 18px;
    width: 100%;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #E0E0E0;
    border-radius: 3px;
    border: 1px solid #F5F5F5;
}

.tab-motors .meter-fill {
    position: absolute;
    overflow: hidden;
    height: 100%;
    text-align: center;
    border-radius: 3px;
    background-color: var(--accent);
}

.tab-motors .meter-label {
    position: absolute;
    top: 2px;
    left: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: #474747;
}

.tab-motors .meter-fill-label {
    color: #ffffff;
}

.tab-motors .Throttle .meter-fill {
    background-color: var(--accent);
}

.tab-motors .RPM .meter-fill {
    background-color: var(--accent);
}

.tab-motors .Volt .meter-fill {
    background-color: var(--accent);
}

.tab-motors .Curr .meter-fill {
    background-color: var(--accent);
}

.tab-motors .Temp .meter-fill {
    background-color: var(--accent);
}

.tab-motors .Errors .meter-fill {
    background-color: #f1453d;
}


.tab-motors .motorOverrideNote {
    padding: 15px 15px;
}

.tab-motors .motorOverride {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    margin-top: 2px;
}

.tab-motors .motorOverride .trhead {
    color: var(--quietText);
    background-color: var(--button-background);
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    height: 22px;
    border-top: 1px solid var(--boxBackground);
}

.tab-motors .motorOverride td {
    padding: 6px 5px 7px 5px;
    border: 1px solid var(--subtleAccent);
}

.tab-motors .motorOverride td:nth-child(1) {
    width: 50px;
    font-weight: bold;
    text-align: center;
    border-left: 0;
}

.tab-motors .motorOverride td:nth-child(2) {
    width: 80px;
    text-align: center;
}

.tab-motors .motorOverride td:nth-child(3) {
    width: 80px;
    text-align: center;
}

.tab-motors .motorOverride td:nth-child(4) {
    height: 75px;
    padding: 2px 20px 2px 20px;
    text-align: left;
    border-right: 0;
}

.tab-motors .motorOverride tr:last-child td {
    border-bottom: 0;
}

.tab-motors .motorOverrideSlider {
    margin-top: -20px;
}

.tab-motors .motorOverrideSlider .noUi-pips {
    padding: 5px 0 0 0;
}

.tab-motors .motorOverrideSlider .noUi-pips .noUi-marker-large {
    height: 10px;
}

.tab-motors .motorOverrideSlider .noUi-pips .noUi-value-large {
    padding-top: 15px;
}

@media all and (max-width: 575px) {
    .tab-motors select.escProtocol {
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .tab-motors .gui_box span {
        line-height: 17px;
    }
}
