.tab-options .field-container {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 0 12px;
}

.tab-options .field {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  align-items: center;
  min-height: 28px;
}

.tab-options select {
  background: var(--boxBackground);
  color: var(--defaultText);
  border: 1px solid var(--subtleAccent);
  border-radius: 2px;
  width: 100%;
}
