#tab-power-templates {
    display: none;
}

.tab-power .ui-grid-col {
    margin-bottom: 0;
}

.tab-power td.configuration {
    padding-top: 5px;
    text-align: left;
}

.tab-power .battery-state .configuration {
    border-bottom: 0;
}

.tab-power td.value {
    text-align: left;
    width: 20%;
}

.tab-power .label {
    width: 25%;
}

.tab-power .number input {
    width: 50px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    margin-right: 11px;
    font-size: 12px;
    font-weight: normal;
}

.tab-power .number,
.tab-power .select {
    margin-bottom: 2px;
    padding-bottom: 2px;
    width: 100%;
    float: left;
    clear: left;
}

.tab-power .battery-configuration select {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    margin-right: 5px;
    float: left;
    width: 150px;
}

.tab-power .number:last-child,
.tab-power .select:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tab-power .voltage-meter td,
.tab-power .amperage-meter td {
    padding: 8px;
}

.tab-power .voltage-meter .label,
.tab-power .voltage-meter .value,
.tab-power .amperage-meter .label,
.tab-power .amperage-meter .value {
    font-size: 12px;
    font-weight: 600;
}

.tab-power .battery-capacities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 10px;
    margin-bottom: 0;
}

.tab-power .battery-capacities .number {
    float: none;
    width: auto;
    margin: 0;
    clear: none;
}

.tab-power .battery-capacities .number label {
    display: flex;
    align-items: center;
}

.tab-power .battery-capacities .number .prefix {
    margin-right: 5px;
    font-weight: bold;
}

.tab-power .active-capacity input {
    border: 2px solid var(--accent);
    color: var(--accent);
    font-weight: bold;
}

.tab-power fieldset.battery-capacities-fieldset {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    margin-bottom: 5px;
    clear: both;
    min-width: 0;
}

.tab-power fieldset.battery-capacities-fieldset legend {
    font-size: 12px;
    font-weight: 600;
    padding: 0 5px;
    width: auto;
}
