#tab-power-templates {
    display: none;
}

.tab-power .ui-grid-col {
    margin-bottom: 0;
}

.tab-power td.configuration {
    padding-top: 5px;
    text-align: left;
}

.tab-power .battery-state .configuration {
    border-bottom: 0;
}

.tab-power td.value {
    text-align: left;
    width: 20%;
}

.tab-power .label {
    width: 25%;
}

.tab-power .number input {
    width: 50px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    margin-right: 11px;
    font-size: 12px;
    font-weight: normal;
}

.tab-power .number,
.tab-power .select {
    margin-bottom: 2px;
    padding-bottom: 2px;
    width: 100%;
    float: left;
    clear: left;
}

.tab-power .battery-configuration select {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    margin-right: 5px;
    float: left;
    width: 150px;
}

.tab-power .number:last-child,
.tab-power .select:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tab-power .voltage-meter td,
.tab-power .amperage-meter td {
    padding: 8px;
}

.tab-power .voltage-meter .label,
.tab-power .voltage-meter .value,
.tab-power .amperage-meter .label,
.tab-power .amperage-meter .value {
    font-size: 12px;
    font-weight: 600;
}
