
.tab-rates .cf tr {
    background-color: #DEDEDE;
}

.tab-rates .cf th {
    height: 19px;
    font-weight: normal;
    padding: 4px;
    color:white;
    text-align: left;
    background: var(--quietHeader);
    border-right: dotted 1px var(--superSubtleAccent);
}

.tab-rates .cf th:first-child {
    border-top-left-radius: 3px;
}

.tab-rates .cf th:last-child {
    border-right: 0;
    border-top-right-radius: 3px;
}

.tab-rates .cf td:first-child {
    border-bottom-left-radius: 3px;
}

.tab-rates .cf td:last-child {
    border-bottom-right-radius: 3px;
    border-right: 0;
    padding-bottom: 0;
}

.tab-rates .cf input {
    margin: 4px;
    width: calc(100% - 10px);
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-rates .cf select {
    margin: 4px;
    width: calc(100% - 10px);
    border: 1px solid var(--subtleAccent);
}

.tab-rates .curves {
    float: left;
    margin-right: 10px;
}

.tab-rates .rate_curve {
    height: 100%;
    min-height: 288px;
    min-width: 200px;
    background-size: 200%;
}

.tab-rates input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}

.tab-rates table {
    float: left;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.tab-rates .gui_box {
    margin-bottom: 5px;
    display: table;
}

.tab-rates table, .tab-rates table td {
    padding: 1px;
    border-bottom: 0;
}

.tab-rates table th {
    padding: 0;
    border: 0;
    height: 10px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tab-rates .rates_titlebar th {
    padding: 5px;
    text-align: left;
    border-right: 1px solid var(--subtleAccent);
}

.tab-rates .rates_titlebar th:first-child {
    text-align: left;
    border-top-left-radius: 3px;
}

.tab-rates .rates_titlebar th:last-child {
    border-right: none;
    border-top-right-radius: 3px;
}

.tab-rates table tr td:first-child {
    text-align: left;
    padding-left: 5px;
}

.tab-rates table tr td:last-child {
    border-right: 0;
    text-align: right;
}

.tab-rates table td {
    padding: 1px 1px 1px 5px;
}

.tab-rates table tr td {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.tab-rates input {
    display: block;
    width: calc(100% - 0px);
    height: 20px;
    line-height: 20px;
    text-align: right;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    background-color: white;
}

.tab-rates input[type="number"] {
  width: 100%;
}

.tab-rates table select {
    height: 20px;
    text-align-last: right;
    border-radius: 3px;
    border: 1px solid var(--subtleAccent);
    background-color: white;
}

.tab-rates .rates_type table select {
    height: 22px;
    text-align-last: left;
}

.tab-rates .tab-container {
    border-bottom: 3px solid var(--accent);
    border-right-width: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    width: 100%;
}

.tab-rates .tab-container > div {
    background-color: #2e2e2e;
    padding: 6px 12px;
    border-right: 1px solid white;
    box-sizing: border-box;
    text-align: center;
}

.tab-rates .tab-container > div:first-child {
    border-top-left-radius: 4px;
}

.tab-rates .tab-container > div:last-child {
    border-top-right-radius: 4px;
}

.tab-rates .tab-container > div a {
    display: block;
    color: #999999;
}

.tab-rates .tab-container > div.active,
.tab-rates .tab-container > div.active a {
    background-color: var(--accent);
    color: #000;
    transition: none;
}

.tab-rates .single-field {
    display: inline-table;
    margin-bottom: 10px;
    margin-right: 5px;
}

.tab-rates .single-field .head {
    text-align: left;
    border-bottom: 1px solid var(--subtleAccent);
    background-color: var(--quietHeader);
    color: var(--quietText);
    height: 19px;
    font-weight: normal;
    padding: 2px 2px 2px 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tab-rates .new_rates {
    text-align: center;
}

.tab-rates .top-buttons {
    float: right;
}

.tab-rates .fixed_band {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.fancy.header {
  background-color: #D6D6D6;
  padding-top: 8px;
  font-size: 12px;
  border-bottom: 1px solid var(--subtleAccent);
  color: #828282;
  background-image: linear-gradient(315deg, rgba(255, 255, 255, .2) 10%, transparent 10%, transparent 20%, rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .2) 30%, transparent 30%, transparent 40%, rgba(255, 255, 255, .2) 40%, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent 60%, rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .2) 70%, transparent 70%, transparent 80%, rgba(255, 255, 255, .2) 80%, rgba(255, 255, 255, .2) 90%, transparent 90%, transparent 100%, rgba(255, 255, 255, .2) 100%, transparent);
}

.fancy.header th {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 5px;
}

.rates_mode {
    width: calc(100% - 5px);
    height: 18px;
    background-color: #D6D6D6;
    float: left;
    margin: 0;
    text-align: left;
    line-height: 13px;
    padding: 5px 0 0 5px;
    font-size: 12px;
    border-bottom: 1px solid var(--subtleAccent);
    color: #828282;
    font-weight: normal;
    background-image: linear-gradient(315deg, rgba(255, 255, 255, .2) 10%, transparent 10%, transparent 20%,
        rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .2) 30%, transparent 30%, transparent 40%,
        rgba(255, 255, 255, .2) 40%, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent 60%,
        rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .2) 70%, transparent 70%, transparent 80%,
        rgba(255, 255, 255, .2) 80%, rgba(255, 255, 255, .2) 90%, transparent 90%, transparent 100%,
        rgba(255, 255, 255, .2) 100%, transparent);
}

.rates_mode > div:first-child {
    float: left;
}

.tab-rates .rates_mode .helpicon {
    margin-top: 0;
}

.tab-rates .rates_titlebar {
    color: #fff;
    background-color: var(--quietHeader);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 20px;
}

.tab-rates .rates_titlebar.rates_titlebar_extended {
    border-radius: 0;
}

.tab-rates .ROLL .axis_title {
    background-color: #FF8080;
}

.tab-rates .PITCH .axis_title {
    background-color: #80FF80;
}

.tab-rates .YAW .axis_title {
    background-color: #8080FF;
}

.tab-rates .COLLECTIVE .axis_title {
    background-color: #FFBB00;
}

.tab-rates .rates_titlebar td:first-child {
    text-align: left;
}

.show {
    width:130px;
    margin-right:3px;
}

.tab-rates .helpicon {
    margin-top: 1px;
}

.tab-rates .number .helpicon {
    margin-top: 3px;
    margin-right: 0;
}

.tab-rates .spacer_left {
    float: right;
    padding-left: 0;
    width: calc(100% - 12px);
}

.tab-rates .numberspacer {
    float: left;
    width: 65px;
    height: 21px;
}

.tab-rates .number {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted var(--superSubtleAccent);
    width: 100%;
    float: left;
    clear: left;
}

.tab-rates .number:last-child {
    padding-bottom: 5px;
    border-bottom: 0;
}

.tab-rates .number input {
    width: 50px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    margin-right: 11px;
    font-weight: normal;
}

.tab-rates .resetbtn {
    width: 150px;
    margin-right: 10px;
}

.tab-rates .copybtn {
    width: 150px;
    margin-right:10px;
}

.tab-rates .right {
    float: right;
}

.tab-rates .leftzero {
    padding-left: 0;
}

.tab-rates .roll {
    border-bottom-left-radius: 3px;
}

.tab-rates .borderleft {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tab-rates .textleft {
    width: 25%;
    float: left;
    text-align: left;
}

.tab-rates .topspacer {
    margin-top: 5px;
}

.tab-rates .bottomarea {
    float: left;
    width: calc(100% - 2px);
    border-bottom: 1px solid var(--subtleAccent);
    border-left: 1px solid var(--subtleAccent);
    border-right: 1px solid var(--subtleAccent);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f9f9f9;
    height: 20px;
}

.tab-rates .rate_profile {
    min-width: 130px;
}

.tab-rates .rate_profile select {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 10px);
}


.tab-rates .bracket {
    background-image: url(/images/icons/icon_bracket.svg);
    background-repeat: no-repeat;
    height: 35px;
    width: 14px;
    margin-top: -23px;
    margin-left: 8px;
}

.tab-rates .rates_preview_cell {
    position: relative;
    width: 100%;
    height: 353px;
}

.tab-rates .rates_preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100%;
}

.tab-rates .rates_preview .webgl-error {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--mutedText);
    font-size: 16px;
    font-weight: 600;
}

.tab-rates #canvas {
    width: 100% !important;
    height: 100% !important;
}

.tab-rates .new_rates td:first-child {
    border-bottom-left-radius: 0;
    padding-left: 10px;
}

.tab-rates .new_rates td:last-child {
    border-bottom-right-radius: 0;
}

.tab-rates .rc_curve .cf tr td {
    padding: 0;
}

.tab-rates .rc_curve_bg {
    float: left;
}

.tab-rates .new_rates_last-child {
    border-bottom: none;
}

.tab-rates .tab-area {
    position: relative;
    padding: 10px;
    border: 1px solid var(--subtleAccent);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top: 0 solid var(--subtleAccent);
    background: #f9f9f9;
}

.tab-rates dialog {
    width: 40em;
    border-radius: 5px;
}

.tab-rates dialog .buttons {
    position: static;
    margin-top: 2em;
}

.tab-rates dialog h3 {
    margin-bottom: 0.5em;
}

.tab-rates dialog select {
    border: 1px solid var(--subtleAccent);
    margin-left: 5px;
    width: 120px;
}

@media all and (max-width: 575px) {
    .tab-rates dialog {
        width: calc(100% - 2em);
        border-radius: unset;
    }
}

.tab-rates .subtab-rates {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.tab-rates .subtab-rates .cf_column {
    min-width: 380px;
    flex: 1;
}


@media only screen and (max-width: 1405px) {
    .tab-rates .subtab-rates .ratePreview.spacer_left {
        width: calc(100% - 10px);
    }
}

.tab-rates .rates_titlebar .name-helpicon-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tab-rates .rates_titlebar .name-helpicon-flex .helpicon {
    margin-right: 0;
}

.tab-rates .cf .rates_logo_bg {
    background-color: #ebeced;
}

.tab-rates .rates_logo_div {
    margin-top: -10%;
    text-align: center;
}

.tab-rates .rates_logo {
    width: 80%;
    height: 80%;
}

.tab-rates .rates-tab-warning {
    display: flex;
    flex-flow: row wrap;
}

.tab-rates .float-left {
    float: left;
}

.tab-rates .content_wrapper_header {
    display: flex;
}

.tab-rates .content_wrapper_header_btns {
    margin-left: auto;
}

html[data-theme="light"] .tab-rates .rateDynamic {
    --color-roll: #ff8080;
    --color-pitch: #80ff80;
    --color-yaw: #8080ff;
    --color-collective: #ffbb00;
}

html[data-theme="dark"] .tab-rates .rateDynamic {
    --color-roll: #a00000;
    --color-pitch: #00a000;
    --color-yaw: #0000a0;
    --color-collective: #c08000;
}

.tab-rates .rateDynamic .grid-container {
    display: grid;
    grid-template-columns: minmax(min-content, 220px) repeat(4, minmax(60px, 1fr));
    align-items: center;

}

.tab-rates .rateDynamic .axis-title {
    text-align: center;
    padding: 4px;
}

.tab-rates .rateDynamic .title {
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    grid-column: 1 / -1;
    background-color: var(--quietHeader);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tab-rates .rateDynamic .title :last-child {
    border-top-right-radius: 4px;
}

.tab-rates .rateDynamic .group {
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    row-gap: 4px;
    grid-column: 1 / -1;
    border-top: 1px solid;
    padding: 4px;
}

html[data-theme="light"] .tab-rates .rateDynamic .group {
    border-top-color: #ddd;
}

html[data-theme="dark"] .tab-rates .rateDynamic .group {
    border-top-color: #555;
}

.tab-rates .rateDynamic .group input {
    margin: 0 4px;
    width: initial;
}

.tab-rates .rateDynamic .header {
    padding: 0 4px;
    color: white;
}

.tab-rates .rateDynamic .ROLL {
    background-color: var(--color-roll);
}

.tab-rates .rateDynamic .PITCH {
    background-color: var(--color-pitch);
}

.tab-rates .rateDynamic .YAW {
    background-color: var(--color-yaw);
}

.tab-rates .rateDynamic .COLLECTIVE {
    background-color: var(--color-collective);
}

.tab-rates .row-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 575px) {
    .tab-rates .content_wrapper {
        padding: 8px 0;
    }

    .tab-rates .page-header {
        margin: 0 8px;
    }

    .tab-rates .tab-area {
        padding: 4px;
    }

    .tab-rates .copybtn,
    .tab-rates .resetbtn,
    .tab-rates .show {
        width: calc(50% - 5px);
    }

    .tab-rates .rate_profile {
        margin-left: 5px;
    }

    .tab-rates .rate_profile,
    .tab-rates .copybtn,
    .tab-rates .resetbtn,
    .tab-rates .show {
        margin-right: 0;
    }

    .tab-rates .controller {
        width: 100%;
    }

    .tab-rates .content_wrapper_header_btns {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .tab-rates .content_wrapper_header_btns > * a {
        padding: 16px;
    }

    .tab-rates .tab-container > div {
        width: calc(100% / 3);
    }

    .tab-rates .subtab-rates .cf_column {
        min-width: 100%;
        width: 100%;
    }

    .tab-rates .spacer_left {
        width: 100%;
    }

    .tab-rates .subtab-rates .ratePreview.spacer_left {
        width: 100%;
    }

    .tab-rates .rateDynamic .group input {
        margin: 0 2px;
    }
}
