#tab-receiver-templates {
    display: none;
}

.tab-receiver {
    position: relative;
}

.tab-receiver input {
    width: 55px;
    height: 20px;
    line-height: 20px;
    padding-left: 3px;
    font-size: 1em;
    text-align: left;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-receiver input[type="number"] {
    text-align: right;
}

.tab-receiver select {
    height: 20px;
    margin-right: 15px;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-receiver input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}

.tab-receiver .gui_box_titlebar {
    margin-bottom: 0;
}

.tab-receiver .gui_box {
    margin-bottom: 10px;
    float: left;
    font-weight: bold;
}

.tab-receiver .gui_box span {
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #4f4f4f;
    font-size: 11px;
}

.tab-receiver .spacer_box {
    padding-bottom: 8px;
    float: left;
    width: calc(100% - 20px);
}

.tab-receiver .top_border {
    border-top: 1px dotted var(--superSubtleAccent);
}

.tab-receiver .bottom_border {
    border-bottom: 1px dotted var(--superSubtleAccent);
}

.tab-receiver .no_padding {
    padding-bottom: 0;
}


/* SETTINGS */

.tab-receiver .settings_table {
    margin-bottom: 0;
    width: 100%;
    float: left;
}

.tab-receiver .settings_table,
.tab-receiver .settings_table th,
.tab-receiver .settings_table td {
    padding-bottom: 4px;
    text-align: left;
}

.tab-receiver .settings_table td:nth-child(1) {
    width: 80px;
}

.tab-receiver .settings_table td:nth-child(2) {
    width: calc(100% - 120px);
}

.tab-receiver .receiver select {
    border: 1px solid var(--subtleAccent);
    width: 180px;
    height: 22px;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
}


/* RX CHANNELS */

.tab-receiver .channels_config {
    margin-bottom: 0;
    width: 100%;
    float: left;
}

.tab-receiver .channels_config,
.tab-receiver .channels_config th,
.tab-receiver .channels_config td {
    padding: 0;
    text-align: left;
}

.xxtab-receiver .channels_config td {
    padding-bottom: 10px;
    border-bottom: 1px dotted var(--superSubtleAccent);
}

.tab-receiver .channels_config td:nth-child(1) {
    width: 150px;
    padding-left: 18px;
}

.tab-receiver .channels_config td:nth-child(2) {
    width: calc(100% - 170px);
}

.tab-receiver .hybrid_element {
    width: 140px;
    height: 30px;
    margin: 0;
    position: relative;
}

.tab-receiver .hybrid_element input {
    position: absolute;
    padding-left: 5px;
    width: calc(100% - 36px);
    height: 20px;
    z-index: 2;
    margin: 4px;
    border: 1px solid var(--subtleAccent);
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.tab-receiver .hybrid_element select {
    position: absolute;
    width: calc(100% - 10px);
    height: 22px;
    z-index: 1;
    margin: 4px;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-receiver .channels {
    width: 100%;
    float: left;
}

.tab-receiver .channels td {
    padding: 1px 5px 4px 5px;
}

.tab-receiver .channels td:nth-child(1) {
    width: 50px;
    text-align: right;
    padding-right: 10px;
}

.tab-receiver .channels td:nth-child(1) span {
    font-size: 12px;
    font-weight: bold;
}

.tab-receiver .channels td:nth-child(2) {
    width: 80px;
}

.tab-receiver .channels td:nth-child(2) select {
    width: 100%;
    height: 18px;
    font-size: 11px;
    padding-left: 2px;
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-receiver .channels td:nth-child(3) {
    width: calc(100% - 150px);
}

.tab-receiver .channels tr:last-child td {
    padding-top: 15px;
}

.tab-receiver .channels .bar {
    position: relative;
    width: 100%;
    height: 16px;
    border: 1px solid var(--subtleAccent);
    background-color: #f4f4f4;
    border-radius: 3px;
}

.tab-receiver .channels .label1,
.tab-receiver .channels .label2 {
    position: absolute;
    height: 16px;
    line-height: 16px;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    color: #474747;
}

.tab-receiver .channels .label2 {
    width: 40px;
}

.tab-receiver .channels .fill .label1,
.tab-receiver .channels .fill .label2 {
    color: white;
}

.tab-receiver .channels .fill {
    position: absolute;
    overflow: hidden;
    width: 50%;
    height: 100%;
    background-color: green;
}

.tab-receiver .channels tr:nth-child(1) .fill {
    background-color: #f1453d;
}

.tab-receiver .channels tr:nth-child(2) .fill {
    background-color: #673fb4;
}

.tab-receiver .channels tr:nth-child(3) .fill {
    background-color: #2b98f0;
}

.tab-receiver .channels tr:nth-child(4) .fill {
    background-color: #1fbcd2;
}

.tab-receiver .channels tr:nth-child(5) .fill {
    background-color: #159588;
}

.tab-receiver .channels tr:nth-child(6) .fill {
    background-color: #50ae55;
}

.tab-receiver .channels tr:nth-child(7) .fill {
    background-color: #cdda49;
}

.tab-receiver .channels tr:nth-child(8) .fill {
    background-color: #fdc02f;
}

.tab-receiver .channels tr:nth-child(9) .fill {
    background-color: #fc5830;
}

.tab-receiver .channels tr:nth-child(10) .fill {
    background-color: #785549;
}

.tab-receiver .channels tr:nth-child(11) .fill {
    background-color: #9e9e9e;
}

.tab-receiver .channels tr:nth-child(12) .fill {
    background-color: #617d8a;
}

.tab-receiver .channels tr:nth-child(13) .fill {
    background-color: #cf267d;
}

.tab-receiver .channels tr:nth-child(14) .fill {
    background-color: #7a1464;
}

.tab-receiver .channels tr:nth-child(15) .fill {
    background-color: #3a7a14;
}

.tab-receiver .channels tr:nth-child(16) .fill {
    background-color: #14407a;
}

.tab-receiver .channels tr:nth-child(17) .fill {
    background-color: #eb34e1;
}

.tab-receiver .channels tr:nth-child(18) .fill {
    background-color: #baeb34;
}

.tab-receiver .channels tr:nth-child(19) .fill {
    background-color: #34d8eb;
}


/* SVG classes*/
.tab-receiver .grid .tick {
    stroke: silver;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tab-receiver .line {
    stroke-width: 2px;
    fill: none;
}

.tab-receiver .grid path {
    stroke-width: 0;
}

.tab-receiver .axis path, .axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tab-receiver .gui_preview {
    float: right;
    position: relative;
    margin: 0 0 10px 0;
    width: 100%;
}

.tab-receiver .model_preview {
    width: 100%;
    height: 360px;
}

.tab-receiver #canvas_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tab-receiver #canvas_wrapper .webgl-error {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--mutedText);
    font-size: 16px;
    font-weight: 600;
}

.tab-receiver #canvas {
    width: 100% !important;
    height: 100% !important;
}

.tab-receiver .full_height {
    height: calc(100% - 10px);
}

.tab-receiver .sensor-list {
    padding: 0;
    margin: 0;
}

.tab-receiver .crsf-telemetry-sensors li {
  margin: 10px 4px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.tab-receiver .crsf-telemetry-sensors select {
  width: 200px;
  margin-right: 4px;
}

.tab-receiver .crsf-telemetry-sensors .crsf-telemetry-index {
    width: 20px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
}

@media all and (max-width: 575px) {
    .tab-receiver .channels {
        margin-bottom: 10px;
    }

    .tab-receiver .spacer {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .tab-receiver .gui_box span {
        line-height: 17px;
    }
}
