
.tab-servos .title {
    margin-top: 0;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--subtleAccent);
    border-bottom: 0;
    background-color: var(--quietHeader);
    color: var(--quietText);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tab-servos table {
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
}

.tab-servos table, .tab-servos table th, .tab-servos table td {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.tab-servos input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}

.tab-servos table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: 1px solid var(--subtleAccent);
    line-height: 16px;
}

.tab-servos table td {
    border-bottom: 1px solid var(--subtleAccent);
    padding: 6px 5px 7px 5px;
    border-left: 1px solid var(--subtleAccent);
    border-right: 1px solid var(--subtleAccent);
}

.tab-servos table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tab-servos table .header {
    font-weight: bold;
    text-align: center;
    background-color: #ececec;
}

.tab-servos table input {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-servos table select {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-servos table input[type="number"] {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: right;
}

.tab-servos table input[type="checkbox"] {
    width: 100%;
    line-height: 20px;
    text-align: center;
}

.tab-servos table td:nth-child(1) {
    width: 50px;
    text-align: center;
    font-weight: bold;
}

.tab-servos table td:nth-child(2) {
    width: 80px;
}

.tab-servos table td:nth-child(3) {
    width: 80px;
}

.tab-servos table td:nth-child(4) {
    width: 80px;
}

.tab-servos table td:nth-child(5) {
    width: 80px;
}

.tab-servos table td:nth-child(6) {
    width: 80px;
}

.tab-servos table td:nth-child(7) {
    width: 80px;
}

.tab-servos table td:nth-child(8) {
    width: 60px;
    text-align: center;
}

.tab-servos .wide {
    width: 120px;
} 

.tab-servos .short {
    width: 40px;
} 

.tab-servos .table_overflow {
    overflow: auto;
}

@media all and (max-width: 575px) {
    .tab-servos table th {
        min-width: 30px;
    }
    .tab-servos .min, .tab-servos .max, .tab-servos .mid {
        min-width: 60px;
    }
}

.tab-servos {
    position: relative;
}

.tab-servos .spacer_box {
    padding-bottom: 10px;
    float: left;
    width: calc(100% - 20px);
}

.tab-servos .gui_box_titlebar {
    margin-bottom: 0;
}

.tab-servos .gui_box {
    margin-bottom: 10px;
    float: left;
    font-weight: bold;
}

.tab-servos .gui_box span {
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #4f4f4f;
    font-size: 11px;
}


.tab-servos .meter-bar {
    position: relative;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #E0E0E0;
    border-radius: 3px;
    border: 1px solid #F5F5F5;
}

.tab-servos .meter-label {
    position: absolute;
    top: 2px;
    left: 110px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: #474747;
}

.tab-servos .meter-fill {
    position: absolute;
    overflow: hidden;
    height: 100%;
    text-align: center;
    border-radius: 3px;
    background-color: var(--accent);
}


@media all and (max-width: 575px) {

    .tab-servos .gui_box {
        min-height: auto;
    }
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .tab-servos .gui_box span {
        line-height: 17px;
    }
    .tab-servos .gui_box {
        float: left;
    }
}
