
#tab-servos-templates {
    display: none;
}

.tab-servos {
    position: relative;
}

.tab-servos .configuration {
    overflow-x: auto;
    max-width: 100%;
}

.tab-servos .configuration .content {
    min-width: 900px;
}

.tab-servos .overrides {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

.tab-servos .overrides .content {
    min-width: 500px;
}

.tab-servos .spacer_box {
    padding-bottom: 10px;
    float: left;
    width: calc(100% - 20px);
}

.tab-servos .gui_box_titlebar {
    margin-bottom: 0;
}

.tab-servos .gui_box {
    margin-bottom: 10px;
    float: left;
    font-weight: bold;
}

.tab-servos .gui_box span {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: black;
    font-size: 12px;
}

.tab-servos .warnings .note {
    line-height: 16px;
    font-size: 12px;
    padding: 10px;
}

.tab-servos .warning {
    padding: 2px 0;
}

.tab-servos input,
.tab-servos select {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
}

.tab-servos input[type="number"] {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: right;
}

.tab-servos input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}

.tab-servos input[type="checkbox"] {
    width: 100%;
    line-height: 20px;
    text-align: center;
}

.tab-servos .servoConfig {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    margin-top: 2px;
}

.tab-servos .servoConfig .trhead {
    color: var(--quietText);
    background-color: var(--button-background);
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    height: 22px;
    border-top: 1px solid var(--boxBackground);
}

.tab-servos .trhead .thtext {
    color: var(--quietText);
    background-color: var(--button-background);
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
}

@media all and (max-width: 575px) {
    .tab-servos .servoConfig th {
        min-width: 30px;
    }
}

.tab-servos .servoConfig td {
    padding: 6px 5px 7px 5px;
    border: 1px solid var(--subtleAccent);
}

.tab-servos .servoConfig tr:nth-child(even) {
    background-color: #f8f8f8;
}

.tab-servos .servoConfig tr:last-child td {
    border-bottom: 0;
}

.tab-servos .servoConfig .servo-index {
    width: 36px;
    height: 28px;
    text-align: center;
    font-weight: bold;
    border-left: 0;
}

.tab-servos .servoConfig .servo-mid {
    width: 65px;
}

.tab-servos .servoConfig .servo-min {
    width: 65px;
}

.tab-servos .servoConfig .servo-max {
    width: 65px;
}

.tab-servos .servoConfig .servo-rneg {
    width: 65px;
}

.tab-servos .servoConfig .servo-rpos {
    width: 65px;
}

.tab-servos .servoConfig .servo-rate {
    width: 65px;
}

.tab-servos .servoConfig .servo-source {
    width: 65px;
    text-align: center;
}

.tab-servos .servoConfig .servo-speed {
    width: 70px;
}

.tab-servos .servoConfig .servo-reversed {
    width: 60px;
    text-align: center;
}

.tab-servos .servoConfig .servo-geocor {
    width: 60px;
    text-align: center;
}

.tab-servos .servoConfig .servo-signal {
    /* Auto width for signal column */
}

.tab-servos .servoConfig td:last-child {
    border-right: 0;
}

.tab-servos .meter-bar {
    position: relative;
    height: 18px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #E0E0E0;
    border-radius: 3px;
    border: 1px solid #F5F5F5;
}

.tab-servos .meter-fill {
    position: absolute;
    overflow: hidden;
    height: 100%;
    text-align: center;
    border-radius: 3px;
    background-color: var(--accent);
}

.tab-servos .meter-label {
    position: absolute;
    top: 2px;
    left: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: #474747;
}

.tab-servos .meter-fill-label {
    color: #ffffff;
}

.tab-servos .servoEnableOverride {
    float: left;
    width: 100%;
    margin: 0;
    padding: 1px;
    table-layout: auto;
    border: 0;
    border-collapse: collapse;
}

.tab-servos  .servoEnableOverride tr td {
    padding: 5px 10px 5px 10px;
}

.tab-servos .servoEnableOverride tr td:nth-child(1) {
    width: 50px;
}

.tab-servos .servoEnableOverride tr td:nth-child(2) {
    width: 160px;
}

.tab-servos .servoOverride {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    margin-top: 2px;
}

.tab-servos .servoOverride .trhead {
    color: var(--quietText);
    background-color: var(--button-background);
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    height: 22px;
    border-top: 1px solid var(--boxBackground);
}

.tab-servos .servoOverride td {
    padding: 6px 10px 7px 10px;
    border: 1px solid var(--subtleAccent);
}

.tab-servos .servoOverride td:nth-child(1) {
    width: 50px;
    font-weight: bold;
    text-align: center;
    border-left: 0;
}

.tab-servos .servoOverride td:nth-child(2) {
    width: 65px;
    text-align: center;
}

.tab-servos .servoOverride td:nth-child(3) {
    width: 80px;
    text-align: left;
}

.tab-servos .servoOverride td:nth-child(4) {
    height: 75px;
    padding: 2px 20px 2px 20px;
    text-align: left;
    border-right: 0;
}

.tab-servos .servoOverride tr:last-child td {
    border-bottom: 0;
}

.tab-servos .servoOverride tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.tab-servos .servoOverride tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}

.tab-servos .servoOverrideSlider {
    margin-top: -20px;
}

.tab-servos .servoOverrideSlider .noUi-pips {
    padding: 5px 0 0 0;
}

.tab-servos .servoOverrideSlider .noUi-pips .noUi-marker-large {
    height: 10px;
}

.tab-servos .servoOverrideSlider .noUi-pips .noUi-value-large {
    padding-top: 4px;
}

.tab-servos .note li {
    list-style: disc;
    margin-left: 20px;
}

@media all and (max-width: 575px) {
    .tab-servos .gui_box {
        min-height: auto;
    }
}

@media only screen and (max-width: 1100px) , only screen and (max-device-width: 1100px) {
    .tab-servos .gui_box span {
        line-height: 17px;
    }
    .tab-servos .gui_box {
        float: left;
    }
}

/* Spacer row between PWM and bus servos */
.tab-servos .servoConfig .servo-spacer td {
    height: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    border: none;
    background-color: rgba(var(--accent-rgb), 0.1);
}

.tab-servos .servoConfig .servo-spacer td > div:first-child {
    font-size: 14px;
}

.tab-servos .servoConfig .servo-spacer td > div:last-child {
    font-size: 11px;
    font-weight: normal;
    margin-top: 3px;
}

/* Spacer row in override table */
.tab-servos .servoOverride .servo-override-spacer td {
    height: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    border: none;
    background-color: rgba(var(--accent-rgb), 0.1);
}

.tab-servos .servoOverride .servo-override-spacer td > div:first-child {
    font-size: 14px;
}

/* Bus servo header rows */
.tab-servos .servoConfig .bus-servo-header {
    color: var(--quietText);
    background-color: var(--button-background);
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    height: 22px;
    border-top: 1px solid var(--boxBackground);
}

.tab-servos .servoOverride .bus-servo-override-header {
    color: var(--quietText);
    background-color: var(--button-background);
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    height: 22px;
    border-top: 1px solid var(--boxBackground);
}

/* Ensure spacer rows don't get zebra striping */
.tab-servos .servoConfig .servo-spacer {
    background-color: transparent !important;
}

.tab-servos .servoOverride .servo-override-spacer {
    background-color: transparent !important;
}
