
#tab-status-templates {
    display: none;
}

.tab-status .content_wrapper {
    position: initial;
}

.tab-status .model-and-info {
    position: relative;
    height: 550px;
    width: 100%;
    margin-bottom: -2px;
}

.tab-status #interactive_block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
}
.tab-status #interactive_block a.reset {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    bottom: 10px;
    height: 28px;
    line-height: 28px;
    padding: 0 15px 0 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--subtleAccent);
    background-color: #ececec;
    z-index: 100;
}
.tab-status #interactive_block a.reset:hover {
    background-color: #dedcdc;
}

.tab-status #canvas_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.tab-status #canvas_wrapper .webgl-error {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--mutedText);
    font-size: 16px;
    font-weight: 600;
}

.tab-status #canvas {
    width: 100% !important;
    height: 100% !important;
}

.tab-status .configState {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}

.tab-status .configState span {
    font-size: 10px;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
}

.configBare {
    background-color: #e60000;
}

.configDefaults {
    background-color: #f5a834;
}

.configConfigured {
    background-color: #56ac1d;
}

.tab-status .arm_table tr td {
    vertical-align: top;
}

.tab-status .arm_table tr:first-child td {
    padding-top: 5px;
    padding-bottom: 10px;
}

.tab-status .arm_table tr td:first-child {
    min-width: 80px;
}

.tab-status .arm_table .disarm-flag {
    padding-left: 5px;
    font-weight: bold;
    display: inline-block;
}

.attitude_info {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    margin: 0 0 0 0;
    font-weight: normal;
    color: var(--mutedText);
}
.attitude_info dl {
    width: 100%;
}
.attitude_info dt {
    width: 50%;
    float: left;
}
.attitude_info dd {
    width: 50%;
    float: left;
}
.instrumentsbox {
    margin-bottom: 0;
}

.full_height {
    height: 100%;
}

@media all and (max-width: 575px) {
    .tab-status .default_btn {
        margin-bottom: 5px;
    }
    .tab-status .model-and-info {
        height: 200px;
    }
}

.block.info .fields {
    padding: 5px 5px 3px 5px;
}

.block.info dt {
    float: left;
    width: 99px;
    height: 20px;
    line-height: 20px;
}

.block.info dd {
    width: 76px;
    height: 20px;
    line-height: 20px;
    margin-left: 99px;
}

.block.instruments {
    width: 285px;
    align-content: center;
    text-align: center;
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {
    .block.instrument .attitude {
        width: 50px !important;
        height: 50px !important;
    }
    .block.instrument .heading {
        width: 50px;
        height: 50px;
    }
    .block.instrument .altitude {
        width: 50px;
        height: 50px;
    }
}

.tab-status .bars {
    width: 100%;
    float: left;
}

.tab-status .bars td {
    padding: 1px 5px 4px 5px;
}

.tab-status .bars td:nth-child(1) {
    width: 70px;
    text-align: right;
    padding-right: 10px;
}

.tab-status .bars td:nth-child(1) span {
    font-size: 12px;
    font-weight: bold;
}

.tab-status .bars td:nth-child(2) {
    width: calc(100% - 150px);
}

.tab-status .bars tr:last-child td {
    padding-top: 15px;
}

.tab-status .bars .bar {
    position: relative;
    width: 100%;
    height: 16px;
    border: 1px solid var(--subtleAccent);
    background-color: #f4f4f4;
    border-radius: 3px;
}

.tab-status .bars .label1,
.tab-status .bars .label2 {
    position: absolute;
    height: 16px;
    line-height: 16px;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    color: #474747;
}

.tab-status .bars .label2 {
    width: 40px;
}

.tab-status .bars .fill .label1,
.tab-status .bars .fill .label2 {
    color: white;
}

.tab-status .bars .fill {
    position: absolute;
    overflow: hidden;
    width: 50%;
    height: 100%;
    background-color: green;
}

.tab-status .bars tr:nth-of-type(1) .fill {
    background-color: #f1453d;
}

.tab-status .bars tr:nth-of-type(2) .fill {
    background-color: #673fb4;
}

.tab-status .bars tr:nth-of-type(3) .fill {
    background-color: #2b98f0;
}

.tab-status .bars tr:nth-of-type(4) .fill {
    background-color: #1fbcd2;
}

.tab-status .bars tr:nth-of-type(5) .fill {
    background-color: #159588;
}

.tab-status .bars tr:nth-of-type(6) .fill {
    background-color: #50ae55;
}

.tab-status .bars tr:nth-of-type(7) .fill {
    background-color: #cdda49;
}

.tab-status .bars tr:nth-of-type(8) .fill {
    background-color: #fdc02f;
}

.tab-status .bars tr:nth-of-type(9) .fill {
    background-color: #fc5830;
}

.tab-status .bars tr:nth-of-type(10) .fill {
    background-color: #785549;
}

.tab-status .bars tr:nth-of-type(11) .fill {
    background-color: #9e9e9e;
}

.tab-status .bars tr:nth-of-type(12) .fill {
    background-color: #617d8a;
}

.tab-status .bars tr:nth-of-type(13) .fill {
    background-color: #cf267d;
}

.tab-status .bars tr:nth-of-type(14) .fill {
    background-color: #7a1464;
}

.tab-status .bars tr:nth-of-type(15) .fill {
    background-color: #3a7a14;
}

.tab-status .bars tr:nth-of-type(16) .fill {
    background-color: #14407a;
}

.tab-status .bars tr:nth-of-type(17) .fill {
    background-color: #eb34e1;
}

.tab-status .bars tr:nth-of-type(18) .fill {
    background-color: #baeb34;
}

.tab-status .bars tr:nth-of-type(19) .fill {
    background-color: #34d8eb;
}

.tab-status .arm-danger-note {
    line-height: 25px;
    font-size: 15px;
    padding: 14px 16px;
    margin-bottom: 0;
}

.tab-status dialog {
    width: 40em;
    border-radius: 5px;
}

.tab-status dialog .buttons {
    position: static;
    margin-top: 2em;
}

.tab-status dialog h3 {
    margin-bottom: 0.5em;
}

@media all and (max-width: 575px) {
    .tab-status dialog {
        width: calc(100% - 2em);
        border-radius: unset;
    }
}

