name: PR-CI

on:
  pull_request:
    branches:
      - 'master'
      - 'RF-*'

jobs:

  linux:

    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'

    - name: Set build variables
      run: |
        PR=${GITHUB_REF}
        PR=${PR%%/merge}
        PR=${PR##*/}
        echo "GIT_PR=${PR}" >> ${GITHUB_ENV}
        echo "GIT_VER=PR${PR}-${GITHUB_SHA:0:7}" >> ${GITHUB_ENV}
        cat ${GITHUB_ENV}

    - name: Update version number
      run: make version SEMVER="0.0.0-${{ env.GIT_VER }}"

    - name: Initialise build environment
      run: yarn install

    - name: Build release for linux64
      run: yarn gulp release --linux64

    - name: Move artifacts
      run: mv -v release/rotorflight-configurator* .

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rotorflight-configurator-linux-${{ env.GIT_VER }}
        path: rotorflight-configurator*


  macos:

    runs-on: macos-13

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'

    - name: Set build variables
      run: |
        PR=${GITHUB_REF}
        PR=${PR%%/merge}
        PR=${PR##*/}
        echo "GIT_PR=${PR}" >> ${GITHUB_ENV}
        echo "GIT_VER=PR${PR}-${GITHUB_SHA:0:7}" >> ${GITHUB_ENV}
        cat ${GITHUB_ENV}

    - name: Update version number
      run: make version SEMVER="0.0.0-${{ env.GIT_VER }}"

    - name: Initialise build environment
      run: yarn install

    - name: Build release for MacOS
      run: yarn gulp release --osx64

    - name: Move artifacts
      run: mv release/rotorflight-configurator* .

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rotorflight-configurator-macos-${{ env.GIT_VER }}
        path: rotorflight-configurator*


  win64:

    runs-on: windows-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'

    - name: Set build variables
      run: |
        $PR = $env:GITHUB_REF
        $PR = $PR -replace '/merge',''
        $PR = $PR -replace '.*/',''
        echo "GIT_PR=$PR" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        $VER = $env:GITHUB_SHA.substring(0,7)
        echo "GIT_VER=PR$PR-$VER" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    - name: Update version number
      run: make version SEMVER="0.0.0-${{ env.GIT_VER }}"

    - name: Initialise build environment
      run: yarn install

    - name: Build release for windows
      run: yarn gulp release --win64

    - name: Move artifacts
      run: move release/rotorflight-configurator* .

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rotorflight-configurator-win64-${{ env.GIT_VER }}
        path: rotorflight-configurator*


  win32:

    runs-on: windows-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'

    - name: Set build variables
      run: |
        $PR = $env:GITHUB_REF
        $PR = $PR -replace '/merge',''
        $PR = $PR -replace '.*/',''
        echo "GIT_PR=$PR" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        $VER = $env:GITHUB_SHA.substring(0,7)
        echo "GIT_VER=PR$PR-$VER" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    - name: Update version number
      run: make version SEMVER="0.0.0-${{ env.GIT_VER }}"

    - name: Initialise build environment
      run: yarn install

    - name: Build release for windows
      run: yarn gulp release --win32

    - name: Move artifacts
      run: move release/rotorflight-configurator* .

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rotorflight-configurator-win32-${{ env.GIT_VER }}
        path: rotorflight-configurator*
